/*p{
    color: red;
}

h1{
    color: blue;
}

main{
    background-color: greenyellow;
}

body{
    background-color: black;
}*/

/*p{
    background-color: yellow;
    color: white;
}

a{
    color: inherit;
}*/


.clase{
    color: blue;
}

p{
    color: green;
}